body{
    margin: 0;
    padding: 0;
}
.drypc{
    width: 160px;
    box-sizing: border-box;
    margin-right: -270px;
    margin-bottom: -17px;
    margin-top: 13px;
}
.dry{
    width: 100%;
    margin: 0 auto;
    background-color: black;
    padding: 8px;
}
.dry-menu{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 100px;
    text-align: center;
}
.dry-item{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 24px 10px;
}
.dry-item a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
.dry-item:hover{
    background-color: darkslategrey;
    border-bottom: 2px solid blue;
}
.dry-tem{
    float: left;
}

.dry-item:after{
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url("../rasm/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    vertical-align: middle;
    margin-left: 5px;
}
.navbar-item{
    position: relative;
}
.drop-menu{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 68px;
    width: 170px;
    background-color: black;
    color: white;
    display: none;
    text-align: left;
}
.navbar-item:hover .drop-menu{
    display: block;
}
.drop-item{
    list-style: none;
    padding: 10px 15px;
    position: relative;
}
.drop-item:hover{
    background-color: darkslategrey;
}
.dry-item:hover > .drop-menu{
    display: block;
}
.drop-item > .drop-menu{
    left: 100%;
    top: 0;
}
.drop-item:hover > .drop-menu{
    display: block;
}
.dry-itm{
    text-align: left;
}
.dry-itm{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 24px 10px;
}
.dry-itm a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
.dry-itm:hover{
    background-color: darkslategrey;
    border-bottom: 2px solid blue;
}